body {
	background-image: url("background.jpeg");
	color:white;
	font-family: "Times New Roman", Times, serif;
	font-size:18px;
	text-align:center;
	margin:20px;
	padding:20px;
}

.col1{
	float:left;
	margin:5px;
}

.col2{
	margin:5px;
}


label{
	display:inline-block;
	padding: 10px 10px 10px 0;
}

select, input[type="text"],input[type="email"],input[type="number"],textarea{
	width:450px;
	margin:10px;
	padding:15px;
	border:2px solid black;
	border-radius:5px;
 }

 /* To clear the floats */
.row:after {
	content:"";
	clear: both;
}

.container{
	display:inline-block;
	margin:20px;
	padding:20px;
	border: 1px solid white;
}


/* Button Style */
.button {
 	background-color: #1E90FF; 
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	border-radius:5px;
	margin:10px;
}


/* Media Query */
@media screen and (max-width: 600px) {
  .col1, .col2, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
