body {
	background-image: url("background.jpeg");
	color:white;
	font-family: "Times New Roman", Times, serif;
	font-size:18px;
	text-align:center;
	margin:20px;
	padding:20px;
}

.col1{
	float:left;
	margin:5px;
}

.col2{
	margin:5px;
}


label{
	display:inline-block;
	padding: 10px 10px 10px 0;
}

select, input[type="text"],input[type="email"],input[type="number"],textarea{
	width:450px;
	margin:10px;
	padding:15px;
	border:2px solid black;
	border-radius:5px;
 }